.cartSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.cartSection h1 {
    text-align: center;
}

.cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cartItem {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--color-secondary);
    padding-bottom: 1rem;
}

.itemInfo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding-right: 1rem;
}

.cartItem img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.itemSize {
    color: #666;
}

.itemActions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantityControls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 20px;
}

.quantityBtn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-light);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.quantityBtn:hover {
    background-color: var(--color-secondary);
}

.quantity {
    min-width: 20px;
    font-size: 1.1em;
    text-align: center;
}

.itemSubtotal {
    text-align: right;
    font-weight: bold;
    font-size: 1.15rem;
    color: var(--color-dark);
}

.removeItem {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-primary);
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.removeItem:hover {
    color: #ff6b6b;
}

.emptyCartMessage {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 50px 0;
}

.emptyCartMessage p {
    color: var(--color-dark);
    font-size: 1.25rem;
}

.checkoutSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.cartSummary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
}

.checkoutSection .btn {
    width: 50%;
    text-align: center;
    font-size: 1.15rem;
}

.purchaseDetailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.purchaseTotal {
    text-align: right;
}

.purchaseItemDetail {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 1rem;
}

h2{
    font-size: 1.25rem;
    text-align: center;
}

.purchaseItemsDetail{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.purchaseItemDetail .itemInfo {
    display: flex;
    gap: 1.5rem;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.purchaseItemDetail img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.imagePlaceholder {
    width: 120px;
    height: 120px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #666;
}

.purchaseItemDetail .itemDetails {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.purchaseItemDetail .itemDetails h3 {
    margin: 0;
    font-size: 1.1rem;
}

.purchaseItemDetail .itemSubtotal {
    text-align: right;
    min-width: 140px;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
}

.purchaseActions {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.purchaseActions .btn {
    padding: 10px 20px;
}

.purchaseHeader {
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 1.5rem;
}