.hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    color: var(--color-light);
    text-align: center;
    background: url('/storage/contactUs/hero-contacto.webp') no-repeat center center;
    background-size: cover;
    padding: 10rem 1rem;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero>* {
    position: relative;
    z-index: 2;
}

.hero p {
    font-size: 1rem;
}

.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contactSection>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.contactSection>div>div>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.contactSection img{
    width: 100%;
    border-radius: 20px;
}

.formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.formSection form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.formSection form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

input, textarea {
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    resize: vertical;
    padding: 0.5rem;
}

.noForm{
    color: var(--color-dark);
    text-align: center;
    background-color: var(--color-accent);
    border-radius: 8px;
    padding: 1rem;
}

@media screen and (min-width: 768px){
    .contactSection{
        width: 100%;
        flex-direction: row;
    }

    .contactSection>div{
        width: 40%;
        align-items: flex-start;
        text-align: left;
    }

    .contactSection>div>div>div{
        align-items: flex-start;
    }

    .contactSection img{
        width: 60%;
        height: 100%;
    }

    form>div:first-child{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .formSection form div>div{
        width: 50%;
    }

    .noForm{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1080px){
    .hero p {
        font-size: 1.25rem;
    }

    .contactSection {
        gap: 4rem;
    }

    .contactSection>div{
        gap: 2rem;
    }

    .formSection h2{
        font-size: 2rem;
    }

    .formSection form div>div{
        gap: 0.5rem;
    }

    .formSection label{
        font-size: 1.1rem;
    }

    textarea{
        margin-top: 0.3rem;
    }
}

@media screen and (min-width: 1440px){
    .formSection form{
        max-width: 800px;
        gap: 2rem;
    }
}