section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.formContainer{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--color-dark);
}

.formInputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Nunito', sans-serif;
}

.formGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.formGroup input{
    border: 1px solid var(--color-secondary);
    border-radius: 0.25rem;
    font-size: 0.875rem;
    padding: 0.5rem;
}

.formButtons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.otherOptions{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    color: var(--color-dark);
}

.errorMessage{
    color: var(--color-error);
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
    .formContainer{
        max-width: 850px;
        gap: 2rem;
    }

    .formInputs{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (min-width: 1080px){
    .formInputs{
        gap: 2rem;
    }

    .formGroup input{
        font-size: 1rem;
        padding: 0.75rem;
    }
}