section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

section>div{
    width: 100%;
}

.breadcrumbs {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-dark);
    margin-bottom: 1rem;
}

section img {
    width: 100%;
    border-radius: 20px;
}

.productInfo {
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.breadcrumbsDesktop {
    display: none;
}

.princeRating {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-dark);
}

.stars {
    font-size: 1.25rem;
    border-left: 1px solid var(--color-dark);
    padding: 0 1rem;
}

.sizesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.sizesContainer p{
    font-size: 1.25rem;
}

.sizesContainer div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.sizesContainer button {
    color: var(--color-dark);
    background-color: var(--color-light);
    border: 1px solid var(--color-secondary);
    border-radius: 6px;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.selectedSize {
    background-color: var(--color-primary) !important;
    color: var(--color-light) !important;
}

#addToCart {
    width: 100%;
}

.allergens p{
    color: var(--color-error);
    text-decoration: underline;
}

@media screen and (min-width: 768px){
    section{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    section>div{
        max-width: 500px;
    }

    section img{
        max-width: 500px;
    }

    .breadcrumbsMobile{
        display: none;
    }

    .productInfo{
        align-items: flex-start;
        gap: 1rem;
    }

    .breadcrumbsDesktop{
        display: flex;
        margin: 0;
    }

    .sizesContainer{
        align-items: flex-start;
    }
}

@media screen and (min-width: 1080px){
    section{
        gap: 4rem;
    }

    .sizesContainer button{
        font-size: 0.9rem;
    }

    #addToCart{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px){
    section>div, section img{
        max-width: 600px;
    }

    .productInfo{
        gap: 1.5rem;
    }
}